<div class="boxContainer">
<mat-list-item role="listitem" class="text" *ngFor="let item of this.getItems()">
  <div class="text row">
    <mat-card class="col-xs-12">
    <mat-card-title class="row col-xs-12">
      <div class="col-xs-12">{{item.title}}
        <button (click)="this.likeQuestion(item.id)" mat-flat-button mat-button><fa-icon [icon]="faThumbsUp"></fa-icon><span>{{this.getLikesForQuestion(item.likes)}}</span>
        </button>
      </div>
      <mat-card-content>{{item.content}}</mat-card-content>
    </mat-card-title>
  </mat-card>
  </div>
</mat-list-item>
</div>
