<div class="boxContainer">
  <div *ngIf="!this.dataLoaded()">
    <span class="loadingText">Lädt...</span>
  </div>
<div *ngIf="this.dataLoaded()">
<mat-list-item role="listitem" class="text" *ngFor="let item of this.getItems()">
  <div class="text row container-flex">
    <mat-card class="container-flex col-xs-12">
    <mat-card-title class="row col-xs-12">
      <div class="col-xs-12">{{item.title}}
        <button (click)="this.likeQuestion(item.id)" mat-flat-button mat-button><fa-icon [icon]="faThumbsUp"></fa-icon><span>{{this.getLikesForQuestion(item.likes)}}</span>
          <span class="popularBadge" *ngIf="this.isMostPopular(item.id)" color="primary">
            BELIEBT
          </span>
        </button>
        <mat-card-subtitle>{{this.getTimeforQuestion(item.created)}}</mat-card-subtitle>
        <mat-card-content><div>{{item.content}}</div></mat-card-content>
        <h6>ANTWORTEN DER KANDIDIERENDEN:</h6>
        <div class="container-flex col-xs-12 response">
          <div class="col-xs-12" *ngIf="this.loadAnswers(item.id) | async as answers">
            <small *ngIf="!answers[0]">
              Noch keine Antworten.
            </small>
          </div>
            <div class="container-flex row col-xs-12" *ngFor="let answer of this.loadAnswers(item.id) | async">
              <mat-expansion-panel class="col-xs-12" [expanded]="false">
                <mat-expansion-panel-header class="col-xs-12 row">
                  <mat-panel-title class="col-xs-12">
                    {{ this.candidates[answer.questionMeta.candidateID].name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-xs-12">
                  <span class="time col-xs-12">{{this.getTime(answer.created)}}</span>
                  <br>
                  <span class="candidate col-xs-12">{{ this.candidates[answer.questionMeta.candidateID].name }}</span>
                  <br>
                  <span class="answerMessage col-xs-12">{{answer.answerText}}</span>
                  <hr>
                </div>
              </mat-expansion-panel>
            </div>
            <small><b>Alle</b> anderen Kandidierenden haben ebenfalls die Gelegenheit zu antworten. Sehen Sie hier keine Antwort, haben die Kandidierenden noch nicht geantwortet. frag-zur-wahl ist eine neutrale Fragen-Plattform aus Lorch. Alle Kandidierenden wurden telefonisch oder über Mail informiert, bei Gelegenheit persönlich auf diese Plattform angesprochen.</small>
        </div>
      </div>
    </mat-card-title>

  </mat-card>
  </div>
</mat-list-item>
</div>
</div>
