.question {
  padding: 40px;
}

.questionBox {
  padding: 20px;
}

.candidate {
  font-size: 1.2em;
  color: #747474;
}

.time {
  font-size: 0.5em;
  color: #747474;
}
.boxContainer {
  padding: 20px;
  max-width: 100%;
  left: 0;
  right: 0;
}

.response {
  padding: 20px;
  font-size: medium;
}

.loadingText {
  text-align: center;
}
