<mat-dialog-content class="container-flex row">
  <h1 mat-dialog-title>Stellen Sie eine Frage</h1>
<form class="col-xs-12 row" [formGroup]="questionForm">
    <mat-form-field class="col-xs-12">
        <input class="fragenTitel" formControlName="title" matInput
                placeholder="Ein guter Titel für Ihre Frage">
    </mat-form-field>
    <div class="col-xs-4"></div>
    <mat-form-field class="col-xs-12">
      <textarea class="fragenInhalt" formControlName="content" matInput placeholder="Führen Sie Ihre Frage aus"></textarea>
  </mat-form-field>

  <mat-form-field class="col-xs-12">
    <mat-label>Standardmäßig addressiert sich Ihre Frage an alle Kandidierenden.</mat-label>
    <mat-select formControlName="candidates" multiple class="col-xs-12" [value]="'All'">
      <mat-select-trigger>
        {{this.questionForm.get('candidates').value ? this.questionForm.get('candidates').value[0] : ''}}
        <span *ngIf="this.questionForm.get('candidates').value?.length > 1" class="example-additional-selection">
          (+{{this.questionForm.get('candidates').value.length - 1}} {{this.questionForm.get('candidates').value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let candidate of this.apiService.getNamen()" [value]="candidate.name">
        {{candidate.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <recaptcha
    formControlName="recaptcha"
    (scriptLoad)="onScriptLoad()"
    (scriptError)="onScriptError()"
  ></recaptcha>
</form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="this.close()">Abbrechen</button>
  <button class="mat-raised-button" (click)="this.submitQuestion()" [disabled]="!this.questionForm.valid">Frage stellen</button>
</mat-dialog-actions>
