
<h1 mat-dialog-title>Stellen Sie eine Frage</h1>
<mat-dialog-content class="row">
<form class="col-xs-12 row" [formGroup]="questionForm">
    <mat-form-field class="col-xs-12">
        <input formControlName="title" matInput
                placeholder="Ein guter Titel für Ihre Frage">
    </mat-form-field>
    <div class="col-xs-4"></div>
    <mat-form-field class="col-xs-12">
      <textarea formControlName="content" matInput placeholder="Führen Sie Ihre Frage aus"></textarea>
  </mat-form-field>

  <mat-form-field class="col-xs-12">
    <mat-label>An welchen Kandidaten/Kandidatin wollen Sie Ihre Frage stellen?</mat-label>
    <mat-select formControlName="candidates" multiple class="col-xs-12">
      <mat-option *ngFor="let candidate of this.getCandidates() | async" [value]="candidate.name">
        {{candidate.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="this.close()">Abbrechen</button>
    <button class="mat-raised-button"(click)="this.submitQuestion()">Frage stellen</button>
</mat-dialog-actions>
