<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<mat-toolbar color="primary">
  <button class="menuButton" mat-button mat-flat-button (click)="this.toggleMenu()">Menü</button>
  <span class="siteTitle">Frag zur Wahl!</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav *ngIf="sideBarOpen" mode="side" opened>
    <app-sidebar-component></app-sidebar-component>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-dashboard-page></app-dashboard-page>
  </mat-sidenav-content>
</mat-sidenav-container>
