<div>
<h4>Über dieses Tool</h4>
<p>Dieses Tool soll die politische Debatte und Informationen fördern. Es wird in kurzer Zeit quelloffen zur Verfügung gestellt.</p>
<h4>Wir versprechen politsche Neutralität</h4>
<p>Der Entwickler dieses Tools verpflichtet sich, die Daten von Kandidierenden unabhänging von der eigenen Meinung möglichst transparent darzustellen und anzuzeigen. Auf Anfrage erklärt er auch gerne Hintergründe und technische Einzelheiten. Kontaktieren Sie uns dazu über unsere Mail-Adresse: <a href="mailto://fritz@nosc.io">fritz@nosc.io</a> </p>
<h4>Welche Daten sammelt dieses Tool?</h4>
<p>Dieses Tool sammelt nur Daten, welche notwendig sind, um die Fragen anzuzeigen und Antworten der Kandidierenden abzufragen. Auf Nachfrage löschen wir Ihre Daten. Wir schützen Ihre Privatsphäre – diese ist das Fundament der Demokratie.</p>
</div>
